* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #f1f5f9;
}

nav {
  position: fixed;
  width: 100%;
  padding: 15px 50px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: #38bdf8;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

.section {
  padding: 80px 15%;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.dark {
  background: #020617;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.skills-grid span {
  background: #1e293b;
  padding: 10px;
  border-radius: 6px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  background: #334155;
}

.project-card a {
  color: #38bdf8;
  text-decoration: none;
}

footer {
  padding: 20px;
  text-align: center;
  background: #020617;
}
